<!doctype html>
<html lang="ru">
<head>
    <link rel="icon" type="image/png" href="/img/favicon.png" sizes="32x32">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=blocks.title%></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/16fa6f9ce2.js"></script>
    <link rel = "stylesheet" type = "text/css" href = "/css/main.css">
    <link rel = "stylesheet" type = "text/css" href = "/css/preloader.css">
</head>
<body>
<%-partial('../partitials/sidebar')%>
<div class = "wrap">
    <%-partial('../partitials/header')%>
    <%-body %>
    <div class="container_r">
        <div id = "item" class="item">
            <div class="number"></div>
            <div class="loader03"></div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    window.onload = function () {
        var preload = document.getElementById('item');
        preload.style.opacity = '0';
    };
</script>